.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  select {
    outline: none;
    width: 200px;
    border: none;
    border-bottom: 1px solid #333;
    font-size: 1.1rem;
    cursor: pointer;
  }
}
